{{ $lesson := . }}
{{ $course := $lesson.Parent }}
{{ $currDate := $course.Params.Start | time.AsTime }}

{{ range 365 }}
	{{ $currLesson := index $course.Pages . }}
	{{ $currDays := $currLesson.Params.Days | default 1 }}

	{{ if eq $currLesson $lesson }}
		{{ break }}
	{{ end }}

	{{ range 30 }}
		{{ if le $currDays 0 }}
			{{ break }}
		{{ end }}

		{{ $currDate = $currDate.AddDate 0 0 1 }}
		{{ $dayOfWeek := $currDate | time.Format "Mon" }}
		{{ $isWeekend := or (eq $dayOfWeek "Sat") (eq $dayOfWeek "Sun") }}
		{{ if not $isWeekend }}
			{{ $currDays = sub $currDays 1 }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $currDate }}
