{{ $page := . }}
{{ $weight := 0 }}
{{ $date := time.AsTime .Parent.Params.Start }}

{{ range $i, $p := .Parent.Pages }}
	{{ if eq $p $page }}
		{{ $weight = $i }}
	{{ end }}
{{ end }}

{{ range 365 }}
	{{ if le $weight 0 }}
		{{ break }}
	{{ else }}
		{{ $date = $date.AddDate 0 0 1 }}
		{{ $dayOfWeek := $date | time.Format "Mon" }}
		{{ $isWeekend := or (eq $dayOfWeek "Sat") (eq $dayOfWeek "Sun") }}
		{{ if not $isWeekend }}
			{{ $weight = sub $weight 1 }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $date }}
